body {
  font-family: 'Sora', sans-serif;
  background-color: #e7dcd3;
  color: #ee7d36;
  text-align: center;
}

h1 {
  font-size: 45px;
  color: #b24d0e;
}

#howTo, #about {
  color: #b24d0e;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-right: 75px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 50px;
}

#signature {
  padding-left: 50px;
  margin-top: 0;
}

#howTo div {
  display: flex;
}

#howTo .ex {
  margin-left: 50px;
  margin-top: 18px;
  font-size: 40px;
  border: 4px dotted #ffede2;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-family: sans-serif;
  height: fit-content;
}

#timer {
  margin-top: 50px;
}

#cryptoQuip {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#cryptoQuip button {
  background: none;
  color: #ee7d36;
  border: none;
  padding: 5px;
  font-size: 25px;
  width: fit-content;
}

#menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  /*
  background-color: #f17759;
  */
}

#selected {
  font-weight: 700;
}

#error {
  margin: 35px;
}

#testBtn, #back {
  padding: 20px;
  background-color: #b24d0e;
  color: #ffede2;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-family: 'Sora', sans-serif !important;
  font-weight: 300;
}

#keyboard {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.keysRow {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.keysRow button {
  background-color: #b24d0e;
  color: #ffede2;
  border: none;
  border-radius: 4px;
  height: 60px;
  width: 45;
  font-size: 18px;
}

li {
  padding-left: 10px;
  padding-right: 10px;
}

#results {
  font-size: 18px;
  font-weight: 700;
  color: #b24d0e;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #b24d0e;
  border-radius: 4px;
  width: fit-content;
  padding: 50px;
}

.hidden {
  display: none !important;
}

.bright {
  color: white !important;
}

.locked {
  color: #b24d0e !important;
}